 * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  width: 100%;
  height: 100px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-around ;
}
.nav-text{
  display: flex;
  justify-content: center;
  color: white;
  margin: auto;
}
.a-menu{
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 23px;
}
.a-menu:hover{
  color: #0099ff;
}
.nav-logo{
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
.logo-text{
  font-size: 27px;
  color:white;
  font-weight: 700;
}



/* Formularz */


.login{
  width: 100%;
  height: 680px;
}
.form {
  height: 500px;
  width: 450px;
  border: solid 4px #0099FF;
  border-radius: 30px;
  margin: 110px auto;
}
.form-title{
  text-align: center;
  margin-top: 20px;
}
.form-title a{
  font-size: 25px;
}
.form-input-text{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}  
.form-a-login {
  font-size: 20px;
  color: #1f1f1f;
}
.form-input-text input{
  margin-top: 15px;
  margin-bottom: 30px;
}
.form-a-checkbox{
  margin-right: 20px;
  margin-left: 20px;
}
.xy {
  height: 28px;
  width: 200px;
  border: solid 2px;
  color :#0099FF;
  border-radius: 5px;
}
.form-button{
  margin-left: 38px;
  height: 30px;
  width: 120px;
  background-color: white;
  border: solid 2px #0099FF;
  border-radius: 7px;
}
.form-button:hover{
  background-color: #0099FF;
}
.none{
  text-decoration: none;
  color: #1F1F1F;
}